
<nav style="background-color: #2471A3; padding: 10px;">
  <div class="nav-wrapper">
      <a href="./assets/images/ordi.jpg" class="brand-logo">
          <img src="./assets/images/ordi.jpg" alt="Logo" width="50" height="50">
      </a>
      
      <span class="brand-title" style="margin-left: 30px;">Modelsis Recrutement</span>
  </div>
  
</nav>

<router-outlet></router-outlet>

<footer class="page-footer" style="background-color: #2471A3; margin: 0;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Nous vendons tout type d'ordinateur et de smartphone</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Liens Utiles</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright  Modelsis
    <a class="grey-text text-lighten-4 right" href="#!">Plus de liens</a>
    </div>
  </div>
</footer>
