/* Style du conteneur du formulaire */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style des étiquettes des champs */
  label {
    font-weight: bold;
  }
  
  /* Style des champs de texte */
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style du bouton de soumission */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  